@page "/login"
@inject NavigationManager Navigation
@using System.IO

<h3>Login</h3>

<button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>

<pre>@Token</pre>

@code {
    private string Token { get; set; }

    private void NavigateToLogin()
    {
        Navigation.LocationChanged += HandleLocationChanged;
        Navigation.NavigateTo("https://account.1crm.io/sign-in");
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        Console.WriteLine("Handling location change...");

        if (e.Location.Contains("?access_token="))
        {
            string token = e.Location.Split("?access_token=")[1];
            Console.WriteLine($"Token: {token}");

            Navigation.LocationChanged -= HandleLocationChanged;
        }
    }
}